@import '../../App.scss';

.pricing{
    background:url(../../images/pricing-bg.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:-550px -50px;
        h2{
            padding: 0px;
        }
    .price-level{
        background:$primary-color;
        box-sizing: border-box;
        box-shadow: 0 0 60px rgba(245, 240, 240, 0.61);
        margin-bottom: 34px !important;
        border: 1px gradient;
        border: 10px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(to left, #fff, #fff);
        border-radius: 5px;

        padding: 30px 20px;
        h2{
            font-size:67;
             color: #707070;;
            padding-top: 50px;
            padding-bottom: 20px;
        }
         button {
            margin-top: 25px;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
        }

        &:hover{
            button {
                opacity: 1;
                visibility: visible;
            }
        }
        }

        .price-level.active{
            border-image-source: linear-gradient(to left, #0FBDD9, #1EDDB4);
            button{
                opacity: 1;
                visibility: visible;
            }

        }
        p{
            font-size: 24px;
            line-height: 50px;
            font-weight: 500px; 
            color: #707070;   
        }
        p:nth-child(3){
            padding-top: 40px;
        }
        p small{
            position: relative;
            
        }
        p small::after{
            position: absolute;
            content: '';
            width:100%;
            left: 0;
            bottom: -20px;
            border: 2px solid $secondary-color;
            
        }
    }
     
@media (max-width: 600px){
        .pricing{
            h2{
                font-size: 45px;
                padding: 30px;
                text-align: center;
            }
        }
        .price-level{
            h2{
                font-size:67;
                color:#707070;
                padding-top: 50px;
                padding-bottom: 20px;
            }
            p small::after{
                width: 270px;
                left: -80px;

            }
            p{
                color: #707070;
                font-size: 16px;
            }
            }
            
            
            .mr-level{
                margin-right: 0px;
            }

        }
        
    
