.footer-input{
    width: 600px;
    box-shadow: 0 0 5px 5px rgba(243, 242, 242, 0.705);
    border-radius:  10px;
}
.form-control{
    border: 1px solid #fff!important;
    background-color: #fff!important;
    color: rgba(240, 238, 238, 0.856)!important;
    font-size: 14px!important;
    font-weight: 500;
}
.footer-btn{
    height: 40px;
    width: 140px;
}

.cta-area {
    position: relative;
    box-shadow: -3px 0px 10px #30bb8d29;
    padding: 7px 5px;
    border-radius: 2px;

    input {
        width: 75%;
        border: none;
        padding: 11px 15px 0 35px;
        color: #353535;
        font-size: 18px;
    }
    button {
        border-radius: 0;
        padding: 11px 22px;
        border-radius: 4px;
    }
}

/*small devices (portrait phones, less than 576px) */ 
@media(min-width: 576px) and (max-width: 767px) {
    .cta-area input {
        width: 72%;
    }
    .res-center{
        text-align: center;
    }
}
@media (max-width: 600px){
    .cta-area{
        input{
            width: 62%;
        }
        & ::placeholder{
            font-size:16px;
        }
    }

    .res-center{
        text-align: center;
    }


}

