.banner{
    min-height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .banner-main{
        height: 100vh;
        
        .banner-content {
            padding: 100px 0;

            h1 {
                font-size: 90px;
                line-height: 1;
                color: #110736;
            }
            
            p {
                font-size: 16px;
                color: #8D8D8D;
                line-height: 30px;
                margin: 40px 0;
            }
        }
        
        img.banner-image {
            padding-top: 40px;
            position: relative;
            margin-left: 10%;
        }
    }


}





/* Extra small devices (portrait phones, less than 576px) */ 
@media(min-width: 320px) and (max-width: 575px) {
    .banner .banner-main .banner-content h1 {
        font-size: 43px;
        width: 100%;
    }

    .banner .banner-main .banner-content {
        padding: 50px 0;
    }

    .banner .banner-main .banner-content p {
        margin: 30px 0;
    }

    .main-button {
        padding: 18px 45px;
    }
}
