.banner{
    min-height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .banner-main{
        height: 100vh;
        
        .banner-content {
            padding: 100px 0;

            h1 {
                font-size: 90px;
                line-height: 1;
            }
            
            p {
                font-size: 16px;
                color: #8D8D8D;
                line-height: 30px;
                margin: 40px 0;
            }
        }
        
        img.banner-image {
            padding-top: 40px;
            position: relative;
            margin-left: 10%;
        }
    }


}