
.achivment-card {
    background: #fff;
    display: flex;
    padding: 30px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 0 70px;
    box-shadow: 0px 0px 10px 10px #EFFEF8;
    transition: all linear .3s;
    overflow: hidden;
    margin-bottom: 20px;


    .achivment-icon {
        margin-right: 25px;

        svg {
            height: 60px;
            width: 60px;
            path{
                fill: #707070;
            }
        }
    }

    h4 {
        color: #707070;
        font-size: 40px;
        font-weight: bold;

        span {
            display: block;
            font-size: 18px;
            font-weight: 300;
        }
    }

    
}

.achivment-card:hover{
     
    background: linear-gradient(45deg, #06AAEF, #1CD8B8);
    box-shadow: 0px 0px 20px 20px #dbf9ea;
    transition: all linear .3s;

    .achivment-icon {
        svg path{
            fill: #fff;
                }
            }
         h4{
        color: #fff;
    }

}
