.achivment-wraper{
    .achivment-col:nth-child(2) .achivment-card ,
    .achivment-col:nth-child(3) .achivment-card 
    
    {
        border-radius: 70px 0;
    }
    :hover{
        .achivment-col:nth-child(even) .achivment-card {
            background: linear-gradient(45deg, #1CD8B8, #06AAEF);
        }

    }
}
.achivment-title{
    padding: 60px 0;
    h2{
        font-size: 38px;
    }

    p {
        color: #707070;
        font-size: 16px;
        margin-top: 18px;
    }
}
