
* {
  margin: 0;
  outline: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0 solid;
}

ul,
li {
  list-style-type: none;
  margin: 0;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}


p{
  margin-bottom: 0;
}

h1,h2,h3{
  font-family: 'Yeseva One', cursive;
  color: #0D052E;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

